.projects-wrapper {
    height: 1000px;
    background-color: #1a141c;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-projects-header {
    font-size: 50px;
    text-align: center;
    letter-spacing: 2px;
    color: #e08712;
}

.warning-notice {
    margin-top: 15px;
    font-size: 15px;
}

.projects-grid {
    display: grid;
    grid-template-areas: 
    'one two three'
    'four five six';
    gap: 30px;
    margin-top: 50px;
}

.projects-grid:hover .project {
    filter: blur(5px);
    transition: all 0.3s ease-in-out;
}

.project {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 30px;
    width: 400px;
    height: 300px;
}

.projects-grid .project:hover  {
    filter: blur(0);
}


.project:hover {
    border: 1px solid #e08712;
    transform: scale(1.1);
}

.project h1 {
    margin: 20px;
}

.project div {
    margin: 20px;
}

.icon {
    cursor: pointer;
    margin-inline: 8px;
}

.icon:hover {
    color: #e08712;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

@media only screen and (min-width: 300px) and (max-width: 768px)
{
    .projects-wrapper {
        height: 2000px;
    }

    .projects-grid {
        grid-template-areas: 
        'one'
        'two'
        'three'
        'four'
        'five'
        'six';

        margin-top: 50px;
        width: 80%;
    }
    .project {
        border-radius: 30px;
        width: 100%;
        height: 300px;
    }

    .projects-grid:hover .project {
        filter: none;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1650px)
{
    .projects-wrapper {
        height: 1300px;
    }

    .projects-grid {
        grid-template-areas: 
        'one two'
        'three four'
        'five six';

        margin-top: 50px;
        width: 80%;
    }
    .project {
        border-radius: 30px;
        width: 100%;
        height: 300px;
    }
}